:root {
	--border: 1px solid #dee2e6;
	--radius: 4px;
}

* {
	padding: 0;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	/* overflow: hidden; */
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: #212529;
}

a {
	color: inherit;
}

input, button {
	-webkit-appearance: none;
	outline: none;
	border: none;
}

input {
	padding: 0.25rem 0.375rem;
	border: 1px solid transparent;
	transition: border-color 200ms linear;
	border-radius: var(--radius);
}

input[type=number] {
	padding-right: 0;
}

input:hover {
	border-color: #ffd8a8;
}

input:focus,
input:active {
	border-color: #ffa94d;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 3px);
}
